if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi
use flake

# Export all of the environment variables to make restic work.
restic_hostname=$(cat .restic_hostname || hostname)
export RESTIC_REPOSITORY=b2:test-scarif-backup:${restic_hostname}
set -a
. ./secrets/restic-environment-variables
set +a
export RESTIC_PASSWORD_FILE=secrets/restic-password

watch_file secrets/restic-environment-variables
watch_file .restic_hostname
unset PS1
