use nix

# Export all of the environment variables to make restic work.
restic_hostname=$(cat .restic_hostname || hostname)
export RESTIC_REPOSITORY=b2:test-scarif-backup:${restic_hostname}
set -a
. ./secrets/restic-environment-variables
set +a
export RESTIC_PASSWORD_FILE=secrets/restic-password

watch_file secrets/restic-environment-variables
watch_file .restic_hostname
unset PS1
